services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "go-app"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./backend:/app
    working_dir: /app
    command: ["air", "-c", ".air.toml"]
